name: CI

env:
  NAME: "ssh"
  TAG: "10.2.0"

on:
  workflow_dispatch:

  pull_request:
    branches:
      - main

  push:
    branches:
      - main

  release:
    types:
      - published

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    name: Build and push the docker image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build docker image
        run: docker build . --tag $NAME

      - name: Login to registry
        run: echo $GITHUB_TOKEN | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin
        env:
          GITHUB_ACTOR: ${{github.actor}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Push docker image
        if: github.event_name == 'release'
        run: |
          docker tag $NAME $REPO:$TAG
          docker tag $NAME $REPO:latest
          docker push --all-tags $REPO
        env:
          REPO: ghcr.io/${{github.repository_owner}}/${{env.NAME}}
